__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv
*.sqlite3
*.db
.git
.gitignore
.env
.idea
.vscode
*.md
.DS_Store

# Media files (user uploads)
media/

# Migration files
*/migrations/
**/migrations/

